/* ---- Global ---- */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

.pretitle {
    text-transform: uppercase;
    font-size: 14px;
    color: #F46752;
    font-weight: 600;
    line-height: 17px;
}

.title {
    font-size: 44px;
    color: #1D253C;
    font-weight: 600;
    line-height: 44px;
}

.subtitle {
    font-size: 19px;
    color: #5A6482;
    font-weight: 400;
    line-height: 30px;
}

.link {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #126F86;
    text-decoration: none;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    background-image: url(../img/arrow.svg);
    width: 29px;
    height: 10px;
    top: 5px;
    right: -35px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

/* ---- Header ---- */

.header {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.header__inner {
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header__user-nav {
    display: flex;
    align-items: center;
}

.header__nav-item {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 0 25px;
    text-decoration: none;
    color: #1D253C;
}

.header__user-nav-item {
    margin-left: 10px;
    font-family: Work Sans;
    font-weight: 400;
    margin-right: 40px;
    text-decoration: none;
    color: #1D253C;
    min-width: 48px;
}

.header__user-nav-item + .header__user-nav-item {
    text-transform: uppercase;
    color: #1D253C;
    font-weight: 600;
    border: 1px solid rgba(29, 37, 60, 0.2);
    padding: 14px 30px;
    border-radius: 4px;
    min-width: 161px;
}

/* ---- Meet ---- */

.meet {
    padding-top: 223px;
    padding-bottom: 196px;
    position: relative;
    z-index: 1;
}

.meet__inner {
    display: flex;
}

.meet__bg {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 900px;
    height: auto;
    z-index: 2;
}

.meet__container {
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 10px;
}

.meet__pretitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #F46752;
}

.meet__title {
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    color: #1D253C;
    max-width: 463px;
}

.meet__subtitle {
    margin-top: 26px;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: #5A6482;
    max-width: 411px;
}

.meet__btn {
    display: inline-block;
    margin-top: 60px;
    padding: 20px 60px 20px 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #F46752;
    border: none;
    position: relative;
    cursor: pointer;
}

.meet__btn::after {
    content: "";
    position: absolute;
    background-image: url(../img/Shape.svg);
    width: 29px;
    height: 10px;
    top: 23px;
    right: 20px;
}

/* ---- Secure ---- */

.secure {
    background-color: #F9F5F2;
    padding-bottom: 84px;
}

.secure__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    background-color: #F9F5F2;
}

.secure__content {
    padding-right: 30px;
}

.secure__img {
    max-width: 100%;
    height: auto;
    background-color: #fff;
    padding: 32px 43px;
}

.secure__content-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #5A6482;
}

.secure__content-subtitle::before {
    content: "*";
    font-family: 'Roboto', sans-serif;
    color: #F46752;
}

.secure__text {
    max-width: 456px;
    margin-top: 83px;
}

.secure__pretitle {
    font-size: 14px;
    font-weight: 600;
    color: #F46752;
    text-transform: uppercase;
}

.secure__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #1D253C;
    margin-top: 26px;
}

.secure__subtitle {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
    margin-top: 19px;
}

.secure__link {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #126F86;
    text-decoration: none;
    margin-top: 32px;
    position: relative;
}

/* ---- Tech ---- */

.tech__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 164px;
}

.tech__bg {
    position: absolute;
    left: 50%;
    margin-left: -97.5px;
    margin-top: 113px;
}

.tech__text {
    margin-top: 274px;
}

.tech__title {
    max-width: 416px;
    margin-top: 27px;
}

.tech__subtitle {
    margin-top: 35px;
    max-width: 483px;
}

.tech__img {
    margin-top: 148px;
    max-width: 100%;
    height: auto;
    position: relative;
}

.tech__img-subtitle {
    position: absolute;
    margin-top: -40px;
    margin-left: -60px;
    font-size: 22px;
    font-weight: 300;
    color: #1D253C;
    background-color: #fff;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    padding: 20px 60px 20px 25px;
}

.tech__img-subtitle::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 40px;
    width: 16px;
    height: 16px;
    background-image: url(../img/waving-hand.svg);
}

.tech__link {
    margin-top: 15px;
}



.umbrella {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -227px;
    margin-top: -115px;
}



.rate {
    background-color: #F8F8F8;
}

.rate__inner {
    padding-top: 95px;
    padding-bottom: 85px;
}

.rate__text {
    text-align: center;
}

.rate__title {
    margin-top: 30px;
}

.rate__subtitle {
    margin-top: 37px;
}

.rate__advantage {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.rate__advantage-item {
    width: 30%;
    height: 310px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.04);
    padding: 65px;
    text-align: center;
}

.rate__item-img {
    max-width: 60%;
    height: auto;
    margin: 0 auto;
}

.rate__item-img-2 {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

.rate__item-img-3 {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.rate__item-title {
    font-size: 24px;
    font-weight: 400;
    color: #1D253C;
    margin-top: 15px;
}

.rate__item-title-2 {
    font-size: 24px;
    font-weight: 400;
    color: #1D253C;
    margin-top: 10px;
}

.rate__item-title-3 {
    font-size: 24px;
    font-weight: 400;
    color: #1D253C;
}

.rate__item-subtitle {
    font-size: 12px;
    line-height: 26px;
    color: #5A6482;
    margin-top: 5px;
    font-weight: 400;
}

.rate__item-subtitle-2 {
    font-size: 12px;
    line-height: 26px;
    color: #5A6482;
    font-weight: 400;
    margin-top: 15px;
}

.rate__item-subtitle-3 {
    font-size: 12px;
    line-height: 26px;
    color: #5A6482;
    font-weight: 400;
    margin-top: 15px;
}

.rate__item-subtitle::after {
    content: "What does this mean?";
    color: #1D253C;
    text-decoration: underline;
}

/* ---- How ---- */ 

.how {
    background-color: #363839;
}

.how__inner {
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;
}

.how__text {
    text-align: center;
}

.how__pretitle {
    font-size: 14px;
    font-weight: 500;
    color: #F46752;
}

.how__title {
    font-size: 44px;
    font-weight: 500;
    color: #fff;
    line-height: 52px;
    margin-top: 26px;
}

.how__subtitle {
    font-size: 19px;
    line-height: 30px;
    color: #ACB4BF;
    margin-top: 15px;
}

.stroke {
    margin-top: 70px;
}

.stroke__img {
    width: 80%;
    height: auto;
}

.n1 {
    position: absolute;
    margin-top: -85px;
    margin-left: -20px;
    max-width: 100%;
    height: auto;
    z-index: 6;
}

.n2 {
    position: absolute;
    margin-top: -80px;
    margin-left: -15px;
    max-width: 100%;
    height: auto;
    z-index: 6;
}

.n3 {
    position: absolute;
    margin-top: -95px;
    margin-left: -20px;
    max-width: 100%;
    height: auto;
    z-index: 6;
}

.circle-1 {
    position: absolute;
    margin-top: -65px;
    margin-left: -5px;
    max-width: 100%;
    height: auto;
    z-index: 5;
}

.circle-2 {
    position: absolute;
    margin-top: -65px;
    margin-left: -20px;
    max-width: 100%;
    height: auto;
    z-index: 5;
}

.circle-3 {
    position: absolute;
    margin-top: -85px;
    margin-left: -20px;
    max-width: 100%;
    height: auto;
    z-index: 5;
}

.how__steps {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.how__steps-item {
    max-width: 20%;
    text-align: center;
}

.how__steps-title {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.how__steps-subtitle {
    font-size: 16px;
    line-height: 26px;
    color: #ACB4BF;
}

/* ---- You ---- */

.you {
    background-color: #F9F5F2;
}

.you__inner {
    padding-top: 148px;
    padding-bottom: 164px;
    display: flex;
    justify-content: space-between;
}

.you__text {
    margin-top: 100px;
}

.you__wrap {
    margin-right: 106px;
}

.you__img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 6;
}

.you__img-subtitle {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding: 11px 19px;
    padding-right: 50px;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    color: #1D253C;
    margin-top: -25px;
    margin-left: 180px;
    background-color: #fff;
    z-index: 7;
}

.you__img-subtitle::after {
    content: "";
    position: absolute;
    background-image: url(../img/nerd.svg);
    width: 16px;
    height: 16px;
    top: 13px;
    right: 30px;
}

.you__bg {
    position: absolute;
    z-index: 5;
    margin-left: -30px;
    margin-top: -50px;
}

.you__title {
    max-width: 496px;
    margin-top: 30px;
}

.you__subtitle {
    max-width: 455px;
    margin-top: 24px;
}

.you__link {
    margin-top: 23px;
}

/* ---- Blocks ---- */

.blocks {
    
}

.blocks__inner {
    padding-top: 158px;
    padding-bottom: 134px;
    display: flex;
    justify-content: space-between;
}

.blocks__item {
    padding: 40px 7px 33px 22px;
    margin-right: 20px;
}

.blocks__item + .blocks__item + .blocks__item + .blocks__item {
    margin-right: 0;
}

/* Calculator*/

.blocks__calc {
    background: rgba(169, 216, 255, 0.3);
}

.blocks__calc__title {
    font-weight: 600;
    font-size: 34px;
    color: #7CAFDD;
}

.blocks__calc__subtitle {
    margin-top: 65px;
    max-width: 231px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;

}

.blocks__link-calc {
    margin-top: 84px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #7CAFDD;
    text-decoration: none;
    position: relative;
}

.blocks__link-calc:after {
    content: "";
    position: absolute;
    background-image: url(../img/blue-arrow.svg);
    width: 27px;
    height: 10px;
    top: 5px;
    right: -35px;
}

/* Term */

.blocks__term {
    background: rgba(255, 174, 104, 0.3);
}

.blocks__term__title {
    font-weight: 600;
    font-size: 34px;
    color: #E79751;
}

.blocks__term__subtitle {
    margin-top: 21px;
    max-width: 231px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;

}

.blocks__link-term {
    margin-top: 84px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #E79751;
    text-decoration: none;
    position: relative;
}

.blocks__link-term:after {
    content: "";
    position: absolute;
    background-image: url(../img/brown-arrow.svg);
    width: 27px;
    height: 10px;
    top: 5px;
    right: -35px;
}

/* Price */

.blocks__price {
    background: rgba(250, 82, 64, 0.3);
}

.blocks__price__title {
    font-weight: 600;
    font-size: 34px;
    color: #FA5240;
}

.blocks__price__subtitle {
    margin-top: 65px;
    max-width: 231px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;

}

.blocks__link-price {
    margin-top: 84px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #FA5240;
    text-decoration: none;
    position: relative;
}

.blocks__link-price:after {
    content: "";
    position: absolute;
    background-image: url(../img/red-arrow.svg);
    width: 27px;
    height: 10px;
    top: 5px;
    right: -35px;
}

/* Insurance */

.blocks__ins {
    background: rgba(18, 111, 133, 0.3);
}

.blocks__ins__title {
    font-weight: 600;
    font-size: 34px;
    color: #126F85;
}

.blocks__ins__subtitle {
    margin-top: 20px;
    max-width: 231px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;

}

.blocks__link-ins {
    margin-top: 84px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #126F85;
    text-decoration: none;
    position: relative;
}

.blocks__link-ins:after {
    content: "";
    position: absolute;
    background-image: url(../img/grey-arrow.svg);
    width: 27px;
    height: 10px;
    top: 5px;
    right: -35px;
}

/* ---- Getstart ---- */

.getstart {
    background-color: #E5F3FE;
    padding-top: 107px;
    padding-bottom: 85px;
    text-align: center;
}

.getstart__subtitle {
    margin-top: 8px;
    text-align: center;
}

.getstart__btn {
    margin-top: 40px;
}

.umbrella-man {
    position: absolute;
    max-width: 50%;
    height: auto;
    left: 5px;
    margin-top: -180px;
}

.boy {
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 180px;
    margin-top: 60px;
}

/* ---- Footer ---- */

.footer__inner {
    padding-top: 73px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #5A6482;
    font-weight: 400;
    max-width: 320px;
    margin-top: 33px;
}

.footer__input {
    width: 216px;
    height: 60px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 0 0 3px;
    margin-right: 0;
}

.footer__input:focus {
    outline: none;
}

.footer__link {
    display: inline-block;
    padding: 20.5px 42px 20.5px 20px;
    height: 100%;
    background-color: #126F85;
    border-radius: 0 5px 5px 0;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.footer__link::after {
    content: "";
    position: absolute;
    background-image: url(../img/white-arrow.svg);
    width: 21.82px;
    height: 14px;
    top: 22px;
    right: 10px;
}

.footer__input-wrap {
    margin-top: 22px;
    display: flex;
    align-items: center;
}

.footer__iconbar {
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.footer__iconbar-item {
    transition: transform .2s;
}

.footer__iconbar-item:hover {
    transform: scale(1.4);
}

.footer__stuff {
    display: flex;
    justify-content: space-between;
}

.footer__stuff-item {
    display: flex;
    flex-direction: column;
    margin-right: 103px;
}

.footer__stuff-item + .footer__stuff-item + .footer__stuff-item {
    margin-right: 0;
}

.footer__stuff__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1D253C;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer__stuff__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5A6482;
    text-decoration: none;
}

.footer__stuff__subtitle + .footer__stuff__subtitle {
    margin-top: 19px;
}

/* ---- Copyright ---- */

.copyright {
    background-color: #F8F8F8;
    padding: 18px 0;
}

.copyright__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5A6482;
}

.copyright__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1D253C;
    padding: 14px 31px;
    border: 1px solid rgba(29, 37, 60, 0.2);
    text-decoration: none;
    border-radius: 4px;
}




















@media screen and (max-width: 600px) {
    .header__user-nav-item {
        margin: 0;
        margin-right: 10px;
    }

    .header__inner {
        margin: 0;
    }

    .header__title {
        padding-left: 10px;
    }
}

@media screen and (max-width: 770px) {

    .secure__content {
        display: none;
    }

    .header__nav-item {
        display: none;
    }

    .secure__text {
        text-align: center;
    }

    .secure__inner {
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {

    .you__img {
        display: none;
    }

    .you__img-subtitle {
        display: none;
    }

    .you__bg {
        display: none;
    }

    .you__inner {
        justify-content: center;
    }

    .you__text {
        text-align: center;
    }

    .you__wrap {
        display: none;
    }

    /* Tech */

    .tech__img {
        display: none;
    }

    .tech__img-subtitle {
        display: none;
    }

    .tech__bg {
        display: none;
    }

    .tech__text {
        text-align: center;
    }

    .tech__inner {
        justify-content: center;
    }

    .rate__advantage {
        display: none;
    }

    .rate__advantage-item {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }

    .how__steps {
        display: none;
    }

    .stroke__img {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .blocks__item {
        display: none;
    }
}

@media screen and (max-width: 1250px) {

    .meet__bg {
        display: none;
    }

    .meet__inner {
        justify-content: center;
        text-align: center;
    }

    .umbrella-man {
        display: none;
    }

    .boy {
        display: none;
    }
}