body {
    margin: 0;
    overflow: hidden;
}

.nav {
    
}

.nav-item-1 {
    width: 50px;
    height: 50px;
    background: rgb(0, 161, 233);
    position: absolute;
    bottom: 100px;
    right: 50px;
    border-radius: 10px;
}

.nav-item-2 {
    width: 50px;
    height: 50px;
    background: rgb(0, 161, 233);
    position: absolute;
    bottom: 50px;
    right: 0;
    border-radius: 10px;
}

.nav-item-3 {
    width: 50px;
    height: 50px;
    background: rgb(0, 161, 233);
    position: absolute;
    bottom: 50px;
    right: 100px;
    border-radius: 10px;
}

.nav-item-4 {
    width: 50px;
    height: 50px;
    background: rgb(0, 161, 233);
    position: absolute;
    bottom: 0;
    right: 50px;
    border-radius: 10px;
}